/* horizontal NAV bar */
body {
  margin: 0; 
  font-family: Arial, sans-serif;
}


/* nav styles */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  float: right;
}
ul li a {
  display: block;
  border-radius: 50px;
  padding: 5px 12px;
  text-decoration: none;
  border: 1px solid black;
  margin: 5px;
  color: #000000;
}
ul li a:hover {background-color: #04AA6D;
}